@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

button {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.09);
  outline: 0;
  transition: background 400ms;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-style: solid 1px;
}

button:hover {

}
