::root{
  --mobile-media-q: 1280px;
}

.DESKTOP_ONLY {
  display: block;
}

@media only screen and (max-width: var(--mobile-media-q)) {
  .DESKTOP_ONLY {
    display: none;
  }
}

.MOBILE_ONLY {
  display: block;
}

@media only screen and (max-width: var(--mobile-media-q)) {
  .MOBILE_ONLY {
    display: none;
  }
}

.FlexRowtoCol {
  display: block;
}

@media only screen and (max-width: var(--mobile-media-q)) {
  .FlexRowtoCol {
    display: none;
  }
}

.FlexColtoRow {
  display: block;
}

@media only screen and (max-width: var(--mobile-media-q)) {
  .FlexColtoRow {
    display: none;
  }
}